:root{
    --mainblue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
}
body{
    font-family: 'Oswald', sans-serif !important;
    background:var(--mainWhite) !important;
    color:var(--mainDark) !important;
}
.text-title{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    letter-spacing: 0.3rem
}
.text-blue{
    color:var(--mainblue)
}
.text-bright{
    color:var(--lightBlue)
}
.text-dark{
    color:var(--mainDark)
}
.text-yellow{
    color:var(--mainYellow)
}
.main-white{
    background:var(--mainWhite)
}
.btnIDC{
     padding:0.5rem;
     border: 2px solid var(--mainDark)!important;
     border-radius: 0.3rem;
     background:transparent;
     color:var(--mainDark);
}
.btnIDC:hover{
    border: 2px solid var(--mainWhite)!important;
    background:var(--mainDark)!important;
    color:#f3f3f3!important
}
.btndel{
    padding:0.5rem;
     border: 2px solid var(--mainDark)!important;
     border-radius: 0.3rem;
     background:var(--mainYellow)!important;
     color:#f3f3f3!important;
}
.btndel:hover{ 
     border: 2px solid var(--mainDark)!important;
     background:var(--mainDark)!important;
     color:#f3f3f3!important
}
.cartDelIcon{
    color:var(--mainYellow);
    font-size:1.4rem;
    cursor:pointer;
}
